@value makerShadow, makerBlack, makerLightGrey, makerWhite, makerWheat , makerColorful from "../../common/colors.css";

.card {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: makerLightGrey;
	margin-bottom: 0.5em;
	border-radius: 1em;
	padding: 0.2em 0;
	box-shadow: 6px 6px 8px 0px makerShadow;
	max-width: 30rem;
}

.card.dark {
	background-color: makerBlack;
	color: makerWhite;
}

.card.light {
	background-color: makerWhite;
	color: makerBlack;
}

.card.colorful {
	background: rgb(34, 63, 141);
	background: linear-gradient(
		90deg,
		rgba(34, 63, 141, 1) 1%,
		rgba(105, 180, 160, 0.9556197478991597) 22%,
		rgba(255, 190, 77, 0.9752275910364145) 46%,
		rgba(216, 73, 67, 0.9332107843137255) 71%,
		rgba(239, 147, 148, 1) 100%
	);
	color: makerWhite;
}

.avatar {
	width: 10em;
	height: 10em;
	padding: 1em;
	margin-left: 0.5em;
	margin-right: 1em;
	border-radius: 50%;
}

.info {
	width: 100%;
}

.name,
.company,
.title,
.email,
.message {
	margin: 0;
	font-size: 0.85rem;
	margin-bottom: 0.2em;
	font-weight: 500;
}

.name {
	font-size: 1.2rem;
}

.company {
	margin-bottom: 1em;
}

.company::after {
	content: '';
	display: block;
	width: 90%;
	height: 2px;
	background-color: makerWheat;
	transform: translateY(0.5em);
}
