@value makerGreen, makerWhite, makerPink, makerBlack from "../../common/colors.css";

.header {
	width: 100%;
	text-align: center;
	padding: 0.5em;
	background-color: makerGreen;
	position: relative;
}

.logo {
	width: 3em;
}

.title {
	margin: 0;
	color: makerWhite;
	font-family: myriad-pro, sans-serif;
}

.logout {
	position: absolute;
	right: 3em;
	top: 1em;
	padding: 0.8em 2em;
	border-radius: 8em;
	background-color: makerPink;
	color: makerWhite;
	outline: 0;
	border: 0;
	cursor: pointer;
	font-family: myriad-pro, sans-serif;
	font-weight: 700;
}

.logout:hover {
	opacity: 0.9;
}
