@value makerGreen, makerWhite,makerBlue, makerPink, makerBlack from "../../common/colors.css";

.header {
	width: 100%;
	text-align: center;
	padding: 0.9em;
	background-color: makerGreen;
	position: relative;
}

.logo {
	width: 3em;
}

.title {
	margin: 0;
	color: makerWhite;
	font-family: myriad-pro, sans-serif;
}

.logout,
.github {
	position: absolute;
	padding: 0.8em 1.8em;
	border-radius: 8em;
	color: makerWhite;
	outline: 0;
	border: 0;
	cursor: pointer;
	font-family: myriad-pro, sans-serif;
	font-weight: 500;
	font-size: 0.8em;
	text-decoration: none;
}

.logout {
	right: 3em;
	top: 1em;
	background-color: makerPink;
}

.github {
	right: 3em;
	top: 4.5em;
	background-color: makerBlue;
}

.logout:hover {
	opacity: 0.9;
}
